.popup__btn-close{
   width: 24px;
   height: 24px;
   background-color: transparent;
   background-image: url(../../../images/close.svg);
   border: none;
   padding: 0;
   background-repeat: no-repeat;
   background-size: cover;
   cursor: pointer;
   position: absolute;
   right: 24px;
   top: 24px;
}

@media screen and (max-width: 768px) {
   .popup__btn-close{
      top: 16px;
      right: 16px;
   }   
}

@media screen and (max-width: 320px) {
   .popup__btn-close{
      top: 10px;
      right: 10px;
   }
}