.popup__body{
   width: 684px;
   background-color: white;
   min-height: 432px;
   margin: auto;
   border-radius: 24px;
   color: black;
   position: relative;
   padding: 24px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   position: relative;
}

@media screen and (max-width: 768px) {
   .popup__body{
      width: 524px;
      padding: 16px;
      min-height: 324px;
   }
}

@media screen and (max-width: 320px) {
   .popup__body{
      max-width: 320px;
      min-width: 320px;
      height: 100%;
      border-radius: 0;
      padding: 32px 10px;
      overflow: scroll;
      margin: 0;
   }
}