.card{
   max-width: 300px;
   padding: 12px;
   box-sizing: border-box;
   border-radius: 18px;
   background-color: white;
}

@media screen and (max-width: 768px) {
   .card{
      max-width: 145px;
      padding: 4px;
   }   
}