.footer__conteiner{
   margin-top: 44px;
   font-size: 12px;
   line-height: 16px;
}

@media screen and (max-width: 768px) {
   .footer__conteiner{
      margin-top: 40px;
   }   
}

@media screen and (max-width: 425px) {
   .footer__conteiner{
      margin-top: 34px;
   }
}

