@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url(../bloks/page/page.css);
@import url(../bloks/content/content.css);
@import url(../bloks/header/header.css);
@import url(../bloks/header/__logo/header__logo.css);
@import url(../bloks/header/__content/header__content.css);
@import url(../bloks/header/__img/header__img.css);
@import url(../bloks/header/__title/header__title.css);
@import url(../bloks/header/__title/_orange/header__title_orange.css);
@import url(../bloks/header/__text/header__text.css);
@import url(../bloks/header/__text/_bold/header__text_bold.css);
@import url(../bloks/menu/menu.css);
@import url(../bloks/menu/__link/menu__link.css);
@import url(../bloks/menu/__list/menu__list.css);
@import url(../bloks/menu/__item/menu__item.css);
@import url(../bloks/menu/__item/_active/menu__item_active.css);
@import url(../bloks/menu/__img/menu__img.css);
@import url(../bloks/basket/basket.css);
@import url(../bloks/basket/__header/basket__header.css);
@import url(../bloks/basket/__title/basket__title.css);
@import url(../bloks/basket/__check/basket__check.css);
@import url(../bloks/basket/__check-number/basket__check-number.css);
@import url(../bloks/basket/__content/basket__content.css);
@import url(../bloks/basket/__text/basket__text.css);
@import url(../bloks/basket/__list/basket__list.css);
@import url(../bloks/basket/__item/basket__item.css);
@import url(../bloks/product-card/product-card.css);
@import url(../bloks/product-card/__card/product-card__card.css);
@import url(../bloks/product-card/__img/product-card__img.css);
@import url(../bloks/product-card/__info/product-card__info.css);
@import url(../bloks/product-card/__name/product-card__name.css);
@import url(../bloks/product-card/__weight/product-card__weight.css);
@import url(../bloks/product-card/__price/product-card__price.css);
@import url(../bloks/button/button.css);
@import url(../bloks/button/__control/button__control.css);
@import url(../bloks/button/__number/button__number.css);
@import url(../bloks/basket/__footer/basket__footer.css);
@import url(../bloks/basket/__total/basket__total.css);
@import url(../bloks/basket/__total-text/basket__total-text.css);
@import url(../bloks/basket/__total-number/basket__total-number.css);
@import url(../bloks/basket/__btn-submit/basket__btn-submit.css);
@import url(../bloks/basket/__delivery/basket__delivery.css);
@import url(../bloks/basket/__delivery-img/basket__delivery-img.css);
@import url(../bloks/basket/__delivery-text/basket__delivery-text.css);
@import url(../bloks/main/main.css);
@import url(../bloks/main/__title/main__title.css);
@import url(../bloks/conteiner/conteiner.css);
@import url(../bloks/card/card.css);
@import url(../bloks/card/__img/card__img.css);
@import url(../bloks/card/__info/card__info.css);
@import url(../bloks/card/__price/card__price.css);
@import url(../bloks/card/__name/card__name.css);
@import url(../bloks/card/__weight/card__weight.css);
@import url(../bloks/card/__btn-submit/card__btn-submit.css);
@import url(../bloks/footer-background/footer-background.css);
@import url(../bloks/footer/footer.css);
@import url(../bloks/footer/__content/footer__content.css);
@import url(../bloks/footer/__logo/footer__logo.css);
@import url(../bloks/footer/__contact/footer__contact.css);
@import url(../bloks/footer/__call/footer__call.css);
@import url(../bloks/footer/__title/footer__title.css);
@import url(../bloks/footer/__phone/footer__phone.css);
@import url(../bloks/footer/__phone-img/footer__phone-img.css);
@import url(../bloks/footer/__number/footer__number.css);
@import url(../bloks/footer/__social/footer__social.css);
@import url(../bloks/footer/__link/footer__link.css);
@import url(../bloks/footer/__link-img/footer__link-img.css);
@import url(../bloks/footer/__conteiner/footer__conteiner.css);
@import url(../bloks/footer/__copyright/footer__copyright.css);
@import url(../bloks/footer/__autor/footer__autor.css);
@import url(../bloks/btn-basket/btn-basket.css);
@import url(../bloks/btn-basket/__title/btn-basket__title.css);
@import url(../bloks/btn-basket/__check/btn-basket__check.css);
@import url(../bloks/btn-basket/__check-number/btn-basket__check-number.css);
@import url(../bloks/basket/__btn-close/basket__btn-close.css);
@import url(../bloks/popup/popup.css);
@import url(../bloks/popup/__body/popup__body.css);
@import url(../bloks/popup/__btn-close/popup__btn-close.css);
@import url(../bloks/popup/__title/popup__title.css);
@import url(../bloks/popup/__content/popup__content.css);
@import url(../bloks/popup/__img/popup__img.css);
@import url(../bloks/popup/__btn-submit/popup__btn-submit.css);
@import url(../bloks/popup/__text/popup__text.css);
@import url(../bloks/popup/__components/popup__components.css);
@import url(../bloks/popup/__components-title/popup__components-title.css);
@import url(../bloks/popup/__components-item/popup__components-item.css);
@import url(../bloks/popup/__weigth/popup__weigth.css);
@import url(../bloks/popup/__button/popup__button.css);
@import url(../bloks/popup/__price/popup__price.css);
@import url(../bloks/popup/__opened/popup__opened.css);
@import url(../bloks/popup/__form/popup__form.css);
@import url(../bloks/popup/__body-delivery/popup__body-delivery.css);
@import url(../bloks/popup/__img-conteiner/popup__img-conteiner.css);
@import url(../bloks/popup/__img-delivery/popup__img-delivery.css);
@import url(../bloks/popup/__content-conteiner/popup__content-conteiner.css);
@import url(../bloks/popup/__title-delivery/popup__title-delivery.css);
@import url(../bloks/popup/__input/popup__input.css);
@import url(../bloks/popup/__input-error/popup__input-error.css);
@import url(../bloks/popup/__list-input/popup__list-input.css);
@import url(../bloks/popup/__list-input-item/popup__list-input-item.css);
@import url(../bloks/popup/__input_radio-label/popup__input_radio-label.css);
@import url(../bloks/popup/__input_radio/popup__input_radio.css);
@import url(../bloks/popup/__info-delivery/popup__info-delivery.css);
@import url(../bloks/popup/__btn-form-submit/popup__btn-form-submit.css);
@import url(../bloks/hiden/hiden.css);
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();




/*
regular: 400;
semibold: 600;
extrabold: 800;
*/