.popup__btn-form-submit{
   margin-top: 24px;
   width: 100%;
}

@media screen and (max-width: 320px){
   .popup__btn-form-submit{
      max-width: 300px;
      margin: 0;
      position: fixed;
      bottom: 32px;
   }
}